.abth {
        margin-top: 30px;
        color: darkblue;
        position: relative;
        font-weight: 550;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.abtd {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    line-height:30px;
    padding: 20px;
    width:1200px;
    text-align: justify;
    position: relative;
    color: gray;
    font-size: large;
}
.bgi {
    margin-top: 25px;
    width: 1350px;
    height: auto;
}
.vandm {
    margin-top: 50px;
    position: relative;
    width: 1200px;
    height: auto;
    padding: 20px;
}
