.slider {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .slides-image {
    border: 1px solid darkblue;
    margin-top: 23px;
    border: blue;
    border-width: thick;
    width: 1300px;
    height: 632px;
    border-radius: 1px;
    position: relative;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 2s;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
  }
  
  